---
/* eslint max-lines: 'off' */

import { asset, url } from '../lib/data.js';
import PictureUploader from '../components/PictureUploader.astro';
import ToggleSwitch from '../components/ToggleSwitch.astro';
---

<div
	class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900 flex justify-center items-center position-relative"
>
	<!--<iframe src="https://www.footprint.network/public/dashboard/Starknet-Dashboard-fp-d3e53215-fa4f-4264-a012-71952b5ecb6c?series_date-80244=past90days" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowtransparency ></iframe>-->
</div>
