---
import LayoutSidebar from '../app/LayoutSidebar.astro';
import LandingReadme from '../modules/LandingReadme.astro';
---

<LayoutSidebar>
	<div
		class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900 flex justify-center items-center position-relative"
	>
		<iframe src="https://www.footprint.network/public/dashboard/Optimism-TVL-fp-fa2c61fb-8f6d-4698-aab8-da4df31e75f3?chain=Optimism&filter_the_data_of_recent_days_below_to_exclude_the_current_day-85191=7&series_date-85202=past90days~" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowtransparency ></iframe>
	</div>
</LayoutSidebar>
