---
/* eslint max-lines: 'off' */

import { url } from '../lib/data.js';
---

<!-- TODO: Dynamic dropdowns -->
<aside
	id="sidebar"
	class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
	aria-label="Sidebar"
>
	<div
		class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
	>
		<div
			class:list={[
				'flex flex-col flex-1 pt-5 pb-28 overflow-y-auto',
				'scrollbar scrollbar-w-2 scrollbar-thumb-rounded-[0.1667rem]',
				'scrollbar-thumb-slate-200 scrollbar-track-gray-400',
				'dark:scrollbar-thumb-slate-900 dark:scrollbar-track-gray-800',
			]}
		>
			<div
				class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
			>
				<ul class="pb-2 space-y-2">
					<li>
						<a
							href={url()}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
							<span class="ml-3" sidebar-toggle-item>Overview</span>
						</a>
					</li>
					<li>
						<a
							href={url('blocks')}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
							<span class="ml-3" sidebar-toggle-item>Blocks</span>
						</a>
					</li>
					<li>
						<a
							href={url('tokens')}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
							<span class="ml-3" sidebar-toggle-item>Tokens</span>
						</a>
					</li>
					<li>
						<a
							href={url('defi')}
							class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
						>
							<span class="ml-3" sidebar-toggle-item>DeFi</span>
						</a>
					</li>
					<li>
						<button
							type="button"
							class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
							aria-controls="dropdown-layouts"
							data-collapse-toggle="dropdown-layouts"
						>
							<span
								class="flex-1 ml-3 text-left whitespace-nowrap"
								sidebar-toggle-item>GameFi</span
							>
							<svg
								sidebar-toggle-item
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
							>
						</button>
						<ul id="dropdown-layouts" class="hidden py-2 space-y-2">
							<li>
								<a
									href={url('gamefi/stats')}
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Stats</a
								>
							</li>
							<li>
								<a
									href={url('gamefi/ranking')}
									class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
									>Ranking</a
								>
							</li>
						</ul>
					</li>
					<li>
						<button
							type="button"
							class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
							aria-controls="dropdown-crud"
							data-collapse-toggle="dropdown-crud"
						>
							<span
								class="flex-1 ml-3 text-left whitespace-nowrap"
								sidebar-toggle-item>NFT</span
							>
							<svg
								sidebar-toggle-item
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</button>
						<ul id="dropdown-crud" class="hidden space-y-2 py-2">
							<!-- if not (eq .Params.group crud) }}hidden {{ end }} -->
							<li>
								<!-- {{ if eq $page_slug "products" }} -->
								<!-- bg-gray-100 dark:bg-gray-700 -->
								<a
									href={url('nft/stats')}
									class="text-base text-gray-900 rounded-lg flex items-center p-2 group hover:bg-gray-100 transition duration-75 pl-11 dark:text-gray-200 dark:hover:bg-gray-700"
									>Stats</a
								>
							</li>
							<li>
								<!--  {{ if eq $page_slug "users" }} -->
								<!-- bg-gray-100 dark:bg-gray-700 -->
								<a
									href={url('nft/ranking')}
									class="text-base text-gray-900 rounded-lg flex items-center p-2 group hover:bg-gray-100 transition duration-75 pl-11 dark:text-gray-200 dark:hover:bg-gray-700"
									>Ranking</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</aside>

<div
	class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90"
	id="sidebarBackdrop"
>
</div>

<script>
	const sidebar = document.getElementById('sidebar');

	if (sidebar) {
		const toggleSidebarMobile = (
			sidebar: HTMLElement,
			sidebarBackdrop: HTMLElement,
			toggleSidebarMobileHamburger: HTMLElement,
			toggleSidebarMobileClose: HTMLElement,
		) => {
			sidebar.classList.toggle('hidden');
			sidebarBackdrop.classList.toggle('hidden');
			toggleSidebarMobileHamburger.classList.toggle('hidden');
			toggleSidebarMobileClose.classList.toggle('hidden');
		};

		const toggleSidebarMobileEl = document.getElementById(
			'toggleSidebarMobile',
		);
		const sidebarBackdrop = document.getElementById('sidebarBackdrop')!;
		const toggleSidebarMobileHamburger = document.getElementById(
			'toggleSidebarMobileHamburger',
		)!;
		const toggleSidebarMobileClose = document.getElementById(
			'toggleSidebarMobileClose',
		)!;
		const toggleSidebarMobileSearch = document.getElementById(
			'toggleSidebarMobileSearch',
		)!;

		toggleSidebarMobileSearch?.addEventListener('click', () => {
			toggleSidebarMobile(
				sidebar,
				sidebarBackdrop,
				toggleSidebarMobileHamburger,
				toggleSidebarMobileClose,
			);
		});

		toggleSidebarMobileEl?.addEventListener('click', () => {
			toggleSidebarMobile(
				sidebar,
				sidebarBackdrop,
				toggleSidebarMobileHamburger,
				toggleSidebarMobileClose,
			);
		});

		sidebarBackdrop?.addEventListener('click', () => {
			toggleSidebarMobile(
				sidebar,
				sidebarBackdrop,
				toggleSidebarMobileHamburger,
				toggleSidebarMobileClose,
			);
		});
	}
</script>
